<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./dist/output.css" rel="stylesheet">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div class="mx-auto w-4/5" id="app">
        <h3 class="text-center text-lg mb-4">全台作物防災告警</h3>
        <!-- <ul class="" v-for="item in disaster">
            <li value="item">{{item}}</li>
        </ul> -->
        <div class="flex flex-row gap-8 justify-center mb-4">
            <select @click="changedisaster" v-model="chosendisaster" class="w-32 bg-orange-200 p-2 leading-normal">
                <option value="" selected="selected" class="bg-orange-300 p-2">選擇農災</option>
                <option v-for="item in disaster" :value="item">{{item}}</option>
            </select>
            <select @click="changetown" v-model="chosentown" class="w-32 bg-orange-200 p-2 leading-normal">
                <option value="" selected="selected">選擇地區</option>
                <option v-for="item in town" :value="item">{{item}}</option>
            </select>
            <select @click="changecname" v-model="chosencname" class="w-32 bg-orange-200 p-2 leading-normal">
                <option value="" selected="selected">選擇農作</option>
                <option v-for="item in cname" :value="item">{{item}}</option>
            </select>
        </div>
        <ul class="grid grid-cols-3 grid-flow-row gap-4">
            <li class="rounded-md bg-slate-200 p-4 leading-normal" v-for="item in content" v-if="">
                <div class="bg-neutral-600 rounded-sm p-1 my-1 text-white">{{item["TOWN_NAME"]}}</div>
                <div class="flex justify-between align-center">
                    <div><span class="rounded-sm bg-red-300 p-1 my-1 text-white">{{item["Disaster"]}}</span><span class="rounded-sm bg-red-300 p-1 my-1 text-white">{{item["C_NAME"]}}</span></div>
                    <div>
                        <!-- <span class="rounded-sm bg-slate-500 p-1 my-1 text-white" v-show="{item["GROWTH"] != 0}">{{item["GROWTH"]}}</span> -->
                        <span class="rounded-sm bg-teal-400 p-1 my-1 text-white">{{item["PERIOD"]}}</span></div>
                </div>
                <div><span>影響：</span>{{item["EFFECT"]}}</div>
                <div><span>預防：</span>{{item["PREVENTION"]}}</div>
                <div><span>處理：</span>{{item["RECOVERY"]}}</div>
            </li>
            <li></li>
            <li></li>
            <!-- <div>
                <button type="button" v-show="week.id > 0" @click="selectemployee(-1)"
                    class="btn btn-primary btn-lg">Previous</button>
                <button type="button" v-show="week.id < 2" @click="selectemployee(1)"
                    class="btn btn-secondary btn-lg">Next</button>
            </div> -->
        </ul>
    </div>
</body>

<script>
    var app = new Vue({
        el:'#app',
        data:{
            crops:[],
            cname:[],
            town:[],
            disaster:[],
            period:[],
            growth:[],
            stage:[],
            content:[],
            optiontown:[],
            chosendisaster:'',
            chosentown:'',
            chosencname:'',
            paging:{
                type:Array,
                default:() =>[],
            }
        },
        created(){
            let vm = this;
            function fil(val){
                const place = vm.crops.map((item) => item[val]);
                return place.filter((item, index) => place.indexOf(item) == index);
            }
            axios('https://api.kcg.gov.tw/api/service/get/1fb9ea3e-eb25-4fe5-865b-8b5bd14c35c6')
                .then(function(response){
                    vm.data = response.data.data;
                    vm.crops = vm.data.crops;
                    // 
                    vm.cname = fil("C_NAME");
                    vm.town = fil("TOWN_NAME");
                    vm.disaster = fil("Disaster");
                    vm.period = fil("PERIOD");
                    vm.growth = fil("GROWTH");
                    vm.stage = fil("STAGE");
                    vm.content = vm.crops;
                })
                .catch( (error) => console.log(error));
            
            // conosle.log(vm.crops)
        },
        methods:{
            changedisaster:function(){
                const vm = this;
                function fil(val){
                const place = vm.content.map((item) => item[val]);
                return place.filter((item, index) => place.indexOf(item) == index);}
                
                if(vm.chosendisaster == ''){
                    vm.content = vm.content;
                }else{
                    vm.content = vm.crops.filter(function(item){return item["Disaster"] == vm.chosendisaster});
                    vm.town = fil("TOWN_NAME");
                    vm.chosentown = '';
                    vm.chosencname = '';
                    vm.cname = fil("C_NAME");
                }
            },
            changetown:function(){
                const vm = this;
                function fil(val){
                const place = vm.content.map((item) => item[val]);
                return place.filter((item, index) => place.indexOf(item) == index);
                }
                console.log(vm.content)
                // 重置選項
                if(vm.chosentown == ''){
                    vm.content = vm.content;
                }else{
                    vm.content = vm.crops.filter(function(item){return item["Disaster"] == vm.chosendisaster});
                    vm.content = vm.crops.filter(function(item){return item["TOWN_NAME"] == vm.chosentown});
                    vm.cname = fil("C_NAME");
                    vm.chosencname = '';
                }
                console.log(vm.content)
            },
            changecname:function(){
                const vm = this;
                if(vm.chosencname == ''){
                    vm.content = vm.content;
                }else{
                    vm.content = vm.crops.filter(function(item){return item["C_NAME"] == vm.chosencname});
                }
            },
            // cardnum:function(w){
            //     const num = Math.floor( w/9 );
            //     return this.cardnum[w]
            // }
            // selectemployee(w) {
            //     this.week.id += w
            //     this.week.id === 0 ? this.week.title = "current week" : this.week.id === 1 ? this.week.title = "next week" : this.week.title = "week after"
            // }
        }
    //      {
    //     "Disaster": "乾旱",
    //     "GROWTH": "開花期、結果期",
    //     "STAGE": "開花期到果實發育期",
    //     "TAIWAN_GEOCODE_103": "64",
    //     "CITY_NAME": "高雄市",
    //     "TOWN_NAME": "大社區",
    //     "C_NAME": "文旦柚",
    //     "YEAR": "111",
    //     "PERIOD": "一期作",
    //     "Note": 0,
    //     "DURATION": "720",
    //     "THRESHOLD": "40",
    //     "MEASURES": "毫米（mm）",
    //     "EFFECT": "月降雨量小於40mm。葉片萎凋、開花期易落花、幼果至果實肥大期易有落果。",
    //     "PREVENTION": "加強灌溉、設理蓄水池及灌溉系統、草生栽培。",
    //     "RECOVERY": "均勻灌溉、修剪枝葉減少水分蒸散。",
    //     "TIMESTAMP": "2023-05-08T12:05:00",
    //     "REAL_VALUE": "26.0mm"
    //   },
    })
</script>
</html>