<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作物生育期查詢</title>
    <link href="./dist/output.css" rel="stylesheet">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class=" overflow-y-scroll">
    <div class="mx-auto w-[1100px]" id="app">
        <h3 class="text-center text-lg mb-4">作物生育期查詢</h3>
        <div class="flex flex-row gap-8 justify-center mb-4">
            <select @click="changeattributes" v-model="chosenattributes" class="w-40 bg-orange-200 p-2 leading-normal">
                <option value="" selected="selected" class="bg-orange-300 p-2">選擇採收方式</option>
                <option v-for="item in attributes" :value="item">{{item}}</option>
            </select>
            <select @click="changecname" v-model="chosencname" class="w-40 bg-orange-200 p-2 leading-normal">
                <option value="" selected="selected">選擇作物</option>
                <option v-for="item in cname" :value="item">{{item}}</option>
            </select>
            <select @click="changesurvey <2 ? null : changesurvey" v-model="chosensurvey" class="w-40 bg-orange-200 p-2 leading-normal">
                <option value="" selected="selected">選擇分類</option>
                <option v-for="item in survey" :value="item" :disabled="isdisable">{{item}}</option>
            </select>
        </div>
        <ul class="grid grid-cols-3 grid-flow-row gap-4">
            <li class="rounded-md bg-slate-200 p-4 leading-normal" v-for="item in content" v-if="">
                <div class="bg-neutral-600 rounded-sm p-1 my-1 text-white">{{item["ATTRIBUTES"]}}</div>
                <div class="flex justify-between align-center">
                    <span class="rounded-sm bg-red-300 p-1 my-1 text-white">{{item["V_NAME"]}}</span>
                    <span class="rounded-sm bg-teal-400 p-1 my-1 text-white">{{item["C_NAME"]}}</span>
                </div>
                <div><span>生長期：</span>{{item["PERIODS_VEGETATIVE_GROWTH"]}}天</div>
                <div><span>開花期：</span>{{item["PERIODS_FLOWERING"]}}天</div>
                <div><span>結果期：</span>{{item["PERIODS_FRUIT_DEVELOPMENT"]}}天</div>
                <div><span>收獲期：</span>{{item["PERIODS_HARVEST"]}}天</div>
                <div><span>繁殖期：</span>{{item["DAY_FERTILITY"]}}天</div>
            </li>
        </ul>
    </div>
</body>

<script>
    var app = new Vue({
        el:'#app',
        data:{
            crops:[],
            cname:[],
            attributes:[],
            survey:[],
            vname:[],
            growth:[],
            flowering:[],
            fruit:[],
            harvest:[],
            fertility:[],
            content:[],
            optioncname:[],
            chosenattributes:'',
            chosencname:'',
            chosensurvey:'',
        },
        created(){
            let vm = this;
            function fil(val){
                const place = vm.crops.map((item) => item[val]);
                return place.filter((item, index) => place.indexOf(item) == index);
            }
            axios('https://api.kcg.gov.tw/api/service/get/a5adfb5a-708e-443f-a2da-acb80a7fed61')
                .then(function(response){
                    vm.data = response.data.data;
                    vm.crops = vm.data;
                    // 
                    vm.cname = fil("C_NAME");
                    vm.attributes = fil("ATTRIBUTES");
                    vm.survey = fil("NAME_SURVEY");
                    vm.vname = fil("V_NAME");
                    vm.growth = fil("PERIODS_VEGETATIVE_GROWTH");
                    vm.flowering = fil("PERIODS_FLOWERING");
                    vm.fruit = fil("PERIODS_FRUIT_DEVELOPMENT");
                    vm.harvest = fil("PERIODS_HARVEST");
                    vm.fertility = fil("DAY_FERTILITY");
                    vm.content = vm.crops;
                    vm.isdisable = true;
                })
                .catch( (error) => console.log(error));
            
            // conosle.log(vm.crops)
        },
        methods:{
            changeattributes:function(){
                const vm = this;
                function fil(val){
                const place = vm.content.map((item) => item[val]);
                return place.filter((item, index) => place.indexOf(item) == index);}
                
                if(vm.chosenattributes == ''){
                    vm.content = vm.content;
                }else{
                    vm.content = vm.crops.filter(function(item){return item["ATTRIBUTES"] == vm.chosenattributes});
                    vm.cname = fil("C_NAME");
                    vm.chosencname = '';
                    vm.chosensurvey = '';
                    vm.survey = fil("NAME_SURVEY");
                }
            },
            changecname:function(){
                const vm = this;
                function fil(val){
                const place = vm.content.map((item) => item[val]);
                return place.filter((item, index) => place.indexOf(item) == index);
                }
                console.log(vm.content)
                // 重置選項
                if(vm.chosencname == ''){
                    vm.content = vm.content;
                }else{
                    vm.content = vm.crops.filter(function(item){return item["ATTRIBUTES"] == vm.chosenattributes}).filter(function(item){return item["C_NAME"] == vm.chosencname});
                    vm.survey = fil("NAME_SURVEY");
                    vm.chosensurvey = '';
                    if (vm.survey.length <2){
                        vm.isdisable = true;
                    }else{
                        vm.isdisable = false;
                    }
                }
                console.log(vm.content)
            },
            changesurvey:function(){
                const vm = this;
                if(vm.chosensurvey == ''){
                    vm.content = vm.content;
                }else{
                    vm.content = vm.crops.filter(function(item){return item["ATTRIBUTES"] == vm.chosenattributes}).filter(function(item){return item["C_NAME"] == vm.chosencname}).filter(function(item){return item["NAME_SURVEY"] == vm.chosensurvey});
                }
            },
        }
    })
</script>
</html>