<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <div id="demo">
        <div class="employee-list">
            <p>{{ week.title }}</p>
            <ul>
                <!-- 這裡ren第一層 -->
                <li v-for="(employee, i) in employeesFilter(week.id)" :key="i">
                    <!-- input? - 長度? -->
                    <p>{{ i }}-{{ employee.length }}</p>
                    <p>{{employee.length}}</p>
                    <!-- 這裡ren第二層 -->
                    <ul v-if="employee.length">
                        <!-- 這裡是內層個別小物件 -->
                        <!-- 個別小物件印出來 -->
                        <li v-for="empl in employee" :key="empl.id">
                            <div class="employee">
                                <p class="name">{{ empl.name }}</p>
                                <p class="dept">{{ empl.dept }}</p>
                            </div>
                        </li>
                    </ul>
                    <p v-else>no people this week</p>
                </li>
            </ul>
        </div>
        <div>
            <button type="button" v-show="week.id > 0" @click="selectemployee(-1)"
                class="btn btn-primary btn-lg">Previous</button>
            <button type="button" v-show="week.id < 2" @click="selectemployee(1)"
                class="btn btn-secondary btn-lg">Next</button>
        </div>
    </div>
</body>
<script>
    new Vue({
        el: "#demo",
        props: {
            employees: {
                type: Array,
                default: () => [
                    {
                        "inputs": [{ "id": "38", "name": "Marcus", "dept": "Informatic Technology", }, { "id": "48", "name": "Dimitri", "dept": "Marketing", }],
                        "outputs": [{ "id": "36", "name": "John", "dept": "Businnes", }, { "id": "82", "name": "Greg", "dept": "Marketing", }]
                    },
                    {
                        "inputs": [{ "id": "50", "name": "Emilie", "dept": "Informatic Technology", }, { "id": "15", "name": "Julian", "dept": "Marketing", }],
                        "outputs": [{ "id": "60", "name": "Alan", "dept": "Informatic Technology", }, { "id": "19", "name": "Mireille", "dept": "Marketing", }]
                    },
                    {
                        "inputs": [{ "id": "71", "name": "Dupond", "dept": "Informatic Technology", }, { "id": "16", "name": "Dufourd", "dept": "Marketing", }],
                        "outputs": [{ "id": "386", "name": "Tata", "dept": "Informatic Technology", }, { "id": "198", "name": "Toto", "dept": "Marketing", }]
                    }
                ]
            }
        },
        data() {
            return {
                week: { id: 0, title: "current week" }
            }
        },
        methods: {
            employeesFilter(w) {
                // 這裡決定會出現哪一個內容
                return this.employees[w]
            },
            selectemployee(w) {
                this.week.id += w
                this.week.id === 0 ? this.week.title = "current week" : this.week.id === 1 ? this.week.title = "next week" : this.week.title = "week after"
            }
        }
    })
</script>

</html>